
<h1 id="page_title">Stuff I've written<br><br>
  <% if user_signed_in? %>
    <%= link_to "New Post", new_post_path, class: "button" %>
  <% end %>
</h1>


<div id="posts_wrapper" class="skinny_wrapper">
  <% @post.each do |p| %>
  <div class="post">
    <h2><%= link_to p.title, p %></h2>
    <hr>
  </div>
  <% end %>
</div>

<%= will_paginate @post %>